<template>
  <article class="wrap__accordion">
    <div class="title__accordion">
      <a href="#" @click.prevent="active = !active">
        <slot name="title" />
        <span v-if="active">&#9650;</span>
        <span v-else>&#9660;</span>
      </a>
    </div>
    <div v-show="active" class="content__accordion">
      <slot name="content" />
    </div>
  </article>
</template>

<script>
export default {
  name: 'SlimAccordion',
  props: {
    title: {
      type: String,
      default: ''
    },
    content: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      active: false
    };
  }
};
</script>
